body{
    background-color: white;
    margin: auto;
    padding-bottom: 2%;
  }
  .container {
      display: grid;
      max-width: 10000px;
      min-width: 320px;
      position: relative;
      margin-right: 3%;
      margin-left: 3%;
      margin-top: 1%;
      margin-bottom: 4%;
      grid-template-areas: 
        "hd hd sd sd sd"
        "hd hd sd sd sd"
        "left left left right right"
        "left left left right right"
        "left left left right right"
        "right1 right1 left1 left1 left1"
        "right1 right1 left1 left1 left1"
        "right1 right1 left1 left1 left1";
        grid-gap: 1%;
      grid-template-rows: 30px 40px 50px 150px 100px 100px 150px 50px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: stretch;
      
  }
  
  
  .sidebar{
    grid-area: sd;
    background-color: white;
    color: gray;
    display: fixed;
    flex-direction: row;
    font-family: 'Cormorant Garamond', serif;
    text-align: end;
    padding-top: 2%;
    word-spacing: 10px;
    float: right;
    letter-spacing: 1.5px;
    padding-bottom: 4%;
    margin-top: 3%;
  }

 ul .li{
     display: inline;
     padding-top: 1%;
     color: gray;
     text-decoration: none;
     color: gray;
 }

li{
     display: inline;

 }
.z{
     text-decoration: none;
     color:gray;
 }
.z:hover{
    cursor: pointer;
    color: lightgrey;
    }
.z:visited{
      text-decoration: none;
      color: gray;
  }
.welcome{
    grid-area: hd;
    background-color: white;
    display: flex;
    float: left;
    padding-top: 6%;
    padding-left: 15px;
    padding-bottom: 0%;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1.5px;
    font-size: 28px;
    line-height: 12px;
    color: gray;
    margin-top: 5%;
  }
  
.right1{
    grid-area: right1;
    background-color: linen;
    font-family: 'Cormorant Garamond', serif;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 18px;
    color: gray;
    grid-template-columns: (autofit (100px, 1fr));
    grid-auto-flow: dense;
    transition: background-color 1s ease;
  }
.right1:hover{
      background-color: whitesmoke;
  }
 
.left1{
    grid-area: left1;
    background-color: whitesmoke;
    font-family: 'Cormorant Garamond', serif;
    text-align: left;
    
    font-size: 18px;
    color: gray;
    
    grid-auto-flow: dense;
    transition: background-color 1s ease;
  }
.left1:hover{
      background-color: linen;
  }
.left1 h1{
    display: grid;
    grid-area: 6 / 2 / 6 / 3;
    color: lightgrey;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    letter-spacing: 10px;
    padding-top: 1%;
    animation: grow 3s ease;
    right: 70%;
    animation-fill-mode: forwards;
    }
  
.calendar{
    grid-area: left;
    background-color: whitesmoke;
    font-family: 'Cormorant Garamond', serif;
    text-align: left;
    font-size: 18px;
    color: gray;
    grid-template-columns: (autofit (100px, 1fr));
    grid-auto-flow: dense;
    transition: background-color 1s ease;
  }
.calendar:hover{
      background-color: linen; 
  }
  
.calendar h1{
    text-align: end;
    padding-left: 66%;
    padding-right: 2%;
    padding-top: 23%;
    padding-bottom: 0.5%;
    color: gray;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    letter-spacing: 10px;
    line-height: 42px;
}
.aabout{
    text-decoration: none;
    color: lightgrey;
}
aabout:visited{
    text-decoration: none;
    color: gray;
}
aabout:link{
    text-decoration: none;
    color: gray;
}
  
.current-projects{
    grid-area: right;
    background-color: linen;
    font-family: 'Cormorant Garamond', serif;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 18px;
    color: gray;
    grid-template-columns: (autofit (100px, 1fr));
    grid-auto-flow: dense;
    transition: background-color 1s ease;
  }
.current-projects:hover{
      background-color: whitesmoke;
  }

.calendar{
    grid-area: left;
    background-color: whitesmoke;
    width: 0;
    animation: grow 3s ease;
    left: 70%;
    animation-fill-mode: forwards;
  }
  
  @keyframes grow{
    to{
      width: 718px;
    }
  }

  .right1{
  grid-area: right1;
  background-color: linen;
  width: 0;
  animation: fill 3s ease;
  left: 70%;
  animation-fill-mode: forwards;
}

@keyframes fill{
  to{
    width: 464px;
  }
}

.current-projects{
    grid-area: right;
    background-color:linen;
    width: 0;
    animation: transform 3s ease;
    right: 30%;
    animation-fill-mode: forwards;
}

@keyframes transform{
    to{
        width: 460px;
    }
}

.left1{
    grid-area: left1;
    background-color: whitesmoke;
    width: 0;
    animation: translate 3s ease;
    right: 70%;
    animation-fill-mode: forwards;
}
@keyframes translate{
    to{
        width: 720px;
    }
}

.okok{
    width: 400px;
    height: 267px;
    border-radius: 10px;
}

.picture{
    display: grid;
    grid-area: 3 / 1 / 4 / 3;
    padding-top: 10%;
}

.piccy{
    width: 300px;
    height: 257px;
    border-radius: 10px;
   
}
.soccer{
    padding-top: 25%;
    padding-left: 10%;
}
.formpic{
    width: 325px;
    height: 245px;
    border-radius: 10px;
}
.form{
    padding-top: 50%;
    padding-left: 35%;
}

.lizidawz{
    display: grid;
    grid-area: 4 / 3 / 5 / 3;
    font-size: 80px;
    color: lightgrey;
    font-family: 'Sarabun', sans-serif;
    letter-spacing: 0px;
    line-height: 70%;
    opacity: 0.5;
    text-shadow:
		-1px -1px 0 gray,
		1px -1px 0 gray,
		-1px 1px 0 gray,
        1px 1px 0 gray;
    padding-top: 2%;
}
.dawz{
    display: grid;
    grid-area: 4 / 3 / 5 / 3;
    font-size: 80px;
    color: lightgrey;
    font-family: 'Sarabun', sans-serif;
    letter-spacing: 0px;
    line-height: 70%;
    opacity: 0.5;
    text-shadow:
		-1px -1px 0 gray,
		1px -1px 0 gray,
		-1px 1px 0 gray,
        1px 1px 0 gray;
    padding-top: 18%;
    padding-left: 25%;
}